@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mascota Feliz</h1>
    <h1 class="display-4">Soluciones veterinarias a su alcance</h1>

    <p>
        <h2 class="display-3">Visitas médicas de promoción y prevención a domicilio</h2>
        <h2 class="display-3">Servicios diagnósticos de radiografía y laboratorio clinico</h2>
        <h2 class="display-3">Cirugías y hospitalización</h2>
        <h2 class="display-3">Servicios funerarios y apoyo sicológico a papás y mamás perrunos</h2>
    </p>
    
</div>
